<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap.min.css') }}" />
    {% block head %}{% end %}
  </head>
  <body>
    <div class="container">{% block body %} {% end %}</div>
  </body>
</html>
